body {
  margin: 0;
  background-color: #2D2D40;
}

.title > h1 {
  font-family: Lato;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 10px;
  margin-top: 60px;
  color: white;
}

.title > h3 {
  font-family: Lato;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
  color: #FE605A;
}

.post {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post > p {
  font-family: Lato;
  font-size: 30px;
  padding: 20px 50px;
  margin-top: 0;
}

.post > i {
  margin: 0 auto;
  font-size: 60px;
  margin-top: 20px;
}

.blue {
  background-color: #17A1EB;
  color: #2D2D40;
}

.grey {
  background-color: white;
  color: #FE605A;
}

.bottom {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.bottom > a > img {
  height: 200px;
  margin: 20px;
  border: 5px solid #2D2D40;
}

.bottom > a {
  font-size: 32px;
  color: #2D2D40;
}

.logo {
  width: 100%;
}

.fb {
  text-decoration: none;
  justify-content: space-around;
}

.fb > i {
  padding: 0 20px;
  margin: auto 0;
}

.fb > span {
  margin: auto 0;
}

@media only screen and (max-width: 768px) { 
  .title {
    padding-left: 50px;
    height: 350px;
    font-size: 25px;
    background-image: url("half-face.png");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  
  .content {
    width: 100%;
    margin-left: 0;
    padding-right: 0;
  }

  .post {
    margin-top: 20px;
    width: 100%;
  }

  .bottom {
    padding: 0;
    flex-direction: column;
  }

  .fb {
    display: block;
  }

  .logo {
    padding-top: 20px;
  }

  .bottom a {
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }

  .bottom a > img {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) { 
  .content {
    width: 60%;
    margin-left: 20%;
    padding-right: 20%;
    background: url("half-face.png");
    background-size: 500px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
  }

  .title > h1 { 
    font-size: 50px;
  }

  .title > h3 { 
    font-size: 30px;
  }

  .row1, .row2{
    width: 50%;
  }

  .title {
    width: 100%;
  }

  .post {
    margin-top: 8vw;
    width: 100%;
  }

  .bottom {
    padding: 0 25%;
    flex-direction: row;
  }

  .fb {
    display: flex;
    height: 250px;
  }
}

.top {
  margin-top: 0;
}